<div [formGroup]="group">
  <mat-card class="claim-form-card">
    <div class="app-form-card">
      <div class="app-form-header">
        <span class="app-form-title">Contact Information</span>
        <span class="app-form-required">* Required Field</span>
      </div>

      <div class="app-form-content">
        <div class="app-form-grid">
          <ng-container *ngFor="let field of config">
            <div class="app-form-group">
              <label>{{ field.label }}<span *ngIf="field.required"> *</span></label>

              <ng-container [ngSwitch]="field.type">
                <mat-form-field *ngSwitchCase="'text'" appearance="outline" class="compact-field">
                  <input
                    matInput
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder || ''"
                  />
                </mat-form-field>

                <mat-form-field
                  *ngSwitchCase="'textarea'"
                  appearance="outline"
                  class="compact-field"
                >
                  <textarea
                    matInput
                    rows="4"
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder || ''"
                  ></textarea>
                </mat-form-field>

                <mat-form-field *ngSwitchCase="'date'" appearance="outline" class="compact-field">
                  <input
                    matInput
                    [matDatepicker]="picker"
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder || regionDateService.getDatePlaceholder()"
                  />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngSwitchCase="'select'" appearance="outline" class="compact-field">
                  <mat-select
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder || ''"
                  >
                    <mat-option *ngFor="let option of field.options || []" [value]="option.value">
                      {{ option.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div *ngSwitchCase="'radio'" class="radio-group">
                  <mat-radio-group [formControlName]="field.name">
                    <mat-radio-button
                      *ngFor="let option of field.options || []"
                      [value]="option.value"
                    >
                      {{ option.label }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-card>
</div>
