/* You can add global styles to this file, and also import other style... */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f4f4f4;
}

/* Header */

.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #f4f4f4;
}

.logo {
  height: 60px;
  width: auto;
  object-fit: contain;
  position: relative;
  top: 5px;
}

.title {
  flex: 1;
  text-align: center;
  font-size: 32px;
  color: #182a54;
  font-weight: 500;
}

a {
  color: #420b0b;
}

.app-footer {
  margin-top: auto;
  background: #f5f5f5;
  border-top: 1px solid #e0e0e0;
  padding: 20px;
  text-align: center;
}
.footer-content {
  text-align: center;
}

.privacy-link {
  display: inline-block;
  margin-bottom: 10px;
  color: #1976d2;
  text-decoration: none;
  font-size: 14px;
}

.privacy-link:hover {
  text-decoration: underline;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

/* Global forms css */

mat-form-field {
  width: 80%;
}

/* Form Container */
.app-form-card {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}

/* Form header */
.app-form-header {
  background: #182a54;
  color: #fff;

  padding: 10px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-form-title {
  font-size: 16px;
}

.app-form-required {
  font-size: 13px;
}

/* Form content */
.app-form-content {
  padding: 24px 00px;
  max-width: 1400px;
  margin: 0 50px;
}

/* Intro Text */
.app-form-intro {
  margin-bottom: 20px;
  max-width: 1240px;
}

.app-form-intro h4 {
  color: #0d3f8f;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.app-form-intro p {
  color: #6b7280;
  font-size: 13px;
}

/* Two column Layout */
.app-form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  column-gap: 40px;
  row-gap: 8px;
  justify-content: center;
}

/* Form Group */
.app-form-group {
  display: flex;
  flex-direction: column;
}

/* Labels */
/* labels */
.app-form-group label {
  font-size: 13px;
  font-weight: 500;
  color: #444;
  margin-bottom: 4px;
}

/* Material Fields */
.app-form-group mat-form-field {
  width: 100%;
}

/* Buttons */
.app-form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 25px;
}

.compact-field {
  width: 100%;
}

.compact-field .mat-mdc-form-field-infix {
  min-height: 40px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.compact-field .mdc-notched-outline {
  height: 40px !important;
}

.compact-field .mat-mdc-select-value {
  position: relative;
  top: -4px;
}

.compact-field .mat-mdc-select-arrow-wrapper {
  position: relative;
  top: -8px;
}

.mat-mdc-select-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

.validation-message {
  margin-top: -10px;
  color: #d32f2f;
  font-size: 12px;
  font-weight: 500;
}

.field-label {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: 600;
  color: #16396b;
}

.info-icon {
  font-size: 14px !important;
  width: 14px !important;
  height: 14px !important;
  color: #182a54;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 20px;
}

.button-container button {
  min-width: 120px;
  height: 44px;
  border-radius: 6px;
}

.next-btn:not(:disabled) {
  background-color: #182a54 !important;
  color: #ffffff !important;
}

.compact-field .mat-mdc-input-element::placeholder {
  color: rgba(0, 0, 0, 0.4) !important;
  font-size: 12px !important;
}

.compact-field .mat-mdc-select-placeholder.mat-mdc-select-min-line {
  color: #a8adb4 !important;
  font-size: 12px !important;
}

/* Textarea Placeholder */
textarea.mat-mdc-input-element::placeholder {
  font-size: 12px !important;
  color: #a8adb4 !important;
  opacity: 1 !important;
}

/* Media Query */
@media (max-width: 1200px) {
  .app-form-grid {
    grid-template-columns: 1fr;
  }

  .app-form-group,
  .app-form-group mat-form-field {
    width: 100%;
  }
}
